.App {
  text-align: center;
}

body {
  background-color: #dce2ed;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Routes {
  margin-top: 5em;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Header */

	#skel-layers-wrapper {
		padding-top: 3em;
	}

	#header {
		background: #202124;
		color: #ffffff;
		cursor: default;
		height: 3em;
		left: 0;
		line-height: 3em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #435860;
    border-style: solid;
	}
    #header div.ui.card.fluid.raised {
      border: 1px;
      border-color: black;
      border-style: solid;
    }
    #header div.meta {
      border-top: 0px;
      border-bottom: 1px;
      border-left: 0px;
      border-right: 0px;
      border-color: #bfbfbf;
      border-style: solid;
    }
		#header h2 {
			color: #666f77;
			font-weight: 500;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

    .notifications:focus{
      outline: none;
      /* box-shadow: 0px 0px 40px 10px #ffffff; */
    }

    #header h2 > a {
      cursor: pointer;
      -moz-transition: color 0.2s ease-in-out;
      -webkit-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
    }
    #header h2 > a:link {
      color: #629DD1;
    }
    #header h2 > a:visited {
      color: #629DD1;
    }
    #header h2 > a:hover {
      color: #fff;
    }

			#header h1 a {
				font-size: 1.25em;
			}

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 1.25em;
			top: 0;
			vertical-align: middle;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					border-radius: 6px;
					display: inline-block;
					margin-left: 2em;
					padding-left: 0;
				}

					#header nav > ul > li a {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-o-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: #629DD1;
						display: inline-block;
						text-decoration: none;
					}
          #header nav > ul > li a.button {
						cursor: pointer;
					}

						#header nav > ul > li a:hover {
							color: #fff;
						}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}

					#header nav > ul > li .button {
						height: 2.25em;
						line-height: 2.25em;
						margin-bottom: 0;
						padding: 0 1em;
						position: relative;
						top: -0.075em;
						vertical-align: middle;
					}

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* sidenav */
.sidenav-menu  {
  position:relative;
  width:100%;
  text-align: center;
  background-color : #1D1F20;
  color:#809A00;
  font-size: 22px;
  margin: 0px auto;
  padding: 5px;
  /* border-top: 2px solid black; */
}

.sidenav-menu > a {
  cursor: pointer;
}

  .sidenav-list{
    height: 0;
    transition: max-height 0.75s ease-out;
    overflow: hidden;
    display: none;


    li {
      border-top: 1px solid black;
    }
  }

 .sidenav-active {
      max-height: 300px;
      transition: display 0.75s ease-in;
    }

.sidenav-wrapper {
  margin: 0px auto;
  width:100%;
  display: block;
  overflow: auto;
  background-color: #1D1F20;;
}

.sidenav-li {
  /* border-top: 1px solid black; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.makeThisDynamicLaterSoThatOnlyModsSeeIt {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* MDE */

.react-mde {
  width: 75%;
  margin-left: 12.5%;
}
.react-mde-content {
  background-color: white;
}
